body {
    display: flex;
    min-height: 100vh;
    margin: 0px;
    background-color: #fafafa;
}

#left {
    background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1862&q=80);
    background-size: cover;
    min-width: 25%;
    color: #FFF;
}

footer {
    position: relative;
    top: 95vh;
}

main {
    /* padding-left: 25px; */
    margin: auto 0;
}

form {
    background-color: #FFF;
    box-shadow: 0 5px 5px lightgray;
    padding-left: 25px;
}

input, label {
    display: block;
}

input[type="submit"] {
    margin-top: 25px;
}

.float-left {
    float: left;
}

.margin-right {
    margin-right: 60px;
}

.margin-left {
    margin-left: 25px;
}